Pętla If & else:

In [ ]:
age = 23
isDrunk = True

if age >= 18 and not isDrunk:
  print('tak')
else:
  print('nie')

nie

In [ ]:
MIN_LIKES = 500
MIN_SHARES = 100
num_likes = 1300
num_shares= 55

In [ ]:
MIN_LIKES

500

In [ ]:
num_likes

1300

In [ ]:
if num_likes >= MIN_LIKES and num_shares >= MIN_SHARES:
    print('GREAT! Today our prizes drop 10% !!!')
else:
    print('We still need more likes and shares to start the promotion')

We still need more likes and shares to start the promotion

In [ ]:
isPizzaOrdered = True
isWeekend = True
isBigDrinkOrdered = True

In [ ]:
if (isPizzaOrdered or isBigDrinkOrdered) and not isWeekend:
    print('Burger for FREE!!!')
else:
    print('Come to us on week day and consider buying Pizza or BigDrink to have Burger for free')

Come to us on week day and consider buying Pizza or BigDrink to have Burger for free

In [ ]:
diskSize = 140
diskSizeUsed = 133
fileSize = 10

In [ ]:
if diskSize - diskSizeUsed >= fileSize :
    print('The file can be downloaded')
else:
    print('There isn\'t enough free disk space to download the file. Sorry :(')

There isn't enough free disk space to download the file. Sorry :(

Pętla if & elif

In [ ]:
MIN_LIKES = 500
MIN_SHARES = 100

num_likes = 300
num_shares= 550

In [ ]:
if num_likes >= MIN_LIKES and num_shares >= MIN_SHARES:
    print('GREAT! Today our prizes drop 10% !!!')
elif num_likes <MIN_LIKES:
     print('We still need more likes to start the promotion')
else:
     print('We still need more shares to start the promotion')

We still need more likes to start the promotion

In [ ]:
isPizzaOrdered = True
isWeekend = True
isBigDrinkOrdered = True

In [ ]:
if (isPizzaOrdered or isBigDrinkOrdered) and not isWeekend:
    print('Burger for FREE!!!')
elif isWeekend:
    print('Come back on non-Weekend day')
else:
    print('You need to order Pizza or Big drink to have a Burger coupon')

Come back on non-Weekend day

Pętla while

In [ ]:
i=1
imax=5

while i <= imax :
  print(i, 'I like Python')
  i+=1

1 I like Python
2 I like Python
3 I like Python
4 I like Python
5 I like Python

In [ ]:
i=1
imax=5

while i <= imax :
  print(i, 'I like Python')
  i+=1
else:
  print('Now i =',i)

1 I like Python
2 I like Python
3 I like Python
4 I like Python
5 I like Python
Now i = 6

In [ ]:
i=1
imax=5

while i <= imax :
  print(i, 'I like Python')
  i+=2
else:
  print('Now i =',i)

1 I like Python
3 I like Python
5 I like Python
Now i = 7

In [ ]:
i=10
imin=0

while i >= imin :
  print(i, 'I like Python')
  i-=1
else:
  print('Now i =',i)

10 I like Python
9 I like Python
8 I like Python
7 I like Python
6 I like Python
5 I like Python
4 I like Python
3 I like Python
2 I like Python
1 I like Python
0 I like Python
Now i = -1

In [ ]:
firstRow = 1
lastRow = 5
currentRow = firstRow

while currentRow <= lastRow:
    print("Row number",currentRow)
    currentRow+=1

Row number 1
Row number 2
Row number 3
Row number 4
Row number 5

In [ ]:
start = 1
end = 5
number = start

while number<=end:
    print(number, number*number, number*number*number)
    number+=1

1 1 1
2 4 8
3 9 27
4 16 64
5 25 125

In [ ]:
start = 0
end = 5
x = start

while x<=end:
    print(x, 2**x)
    x+=1

0 1
1 2
2 4
3 8
4 16
5 32

In [ ]:
start = 1
end   = 10
number = start

while number<=end:
    print(number*'x')
    number+=1

x
xx
xxx
xxxx
xxxxx
xxxxxx
xxxxxxx
xxxxxxxx
xxxxxxxxx
xxxxxxxxxx

In [ ]:
text = ''
number = 10
condition = True
 
while condition:
 
    text+='x'
    print(text)
    
    if len(text)>=number:
        condition=False

x
xx
xxx
xxxx
xxxxx
xxxxxx
xxxxxxx
xxxxxxxx
xxxxxxxxx
xxxxxxxxxx

Pętla while (ładowanie paczek do kontenera)

In [ ]:
cargo = [3,4,5,7,6,12,22,32,2,43,6,3,67,2,4,0,47]

cargo.sort()
cargo.reverse()

print('Przed upakowaniem do skrzynki lista zawiera kolejno: ',cargo)

boxCapacity = 90
box = []
i = 0

while i<len(cargo) and (boxCapacity - sum(box)) >= min(cargo):
  if (boxCapacity - sum(box)) >= cargo[i]:
    box.append(cargo[i])
  i+=1

print('Skrzynka zawiera łącznie kg: ',sum(box))

Przed upakowaniem do skrzynki lista zawiera kolejno:  [67, 47, 43, 32, 22, 12, 7, 6, 6, 5, 4, 4, 3, 3, 2, 2, 0]
Skrzynka zawiera łącznie kg:  89

if w while

In [ ]:
numbers = [8, 18, 2, 4, 16, 5, 25, 4, 22, 3, 3, 5, 3, 9, 81, 11]

i = 0
max = len(numbers)-1
while i < max:
    print(i, numbers[i],numbers[i+1])
    if numbers[i]**2 == numbers[i+1]:
        print("\tFOUND!")
    i+=1

0 8 18
1 18 2
2 2 4
	FOUND!
3 4 16
	FOUND!
4 16 5
5 5 25
	FOUND!
6 25 4
7 4 22
8 22 3
9 3 3
10 3 5
11 5 3
12 3 9
	FOUND!
13 9 81
	FOUND!
14 81 11

In [ ]:
numbers = [8, 18, 2, 4, 16, 5, 25, 4, 22, 3, 3, 5, 3, 9, 81, 11]
i = 0
max = len(numbers)-2
while i< max:
    print(i, numbers[i],numbers[i+1], numbers[i+2])
    if numbers[i]**2 == numbers[i+1] and numbers[i+1]**2 == numbers[i+2]:
        print("\tFOUND!")
    i+=1

0 8 18 2
1 18 2 4
2 2 4 16
	FOUND!
3 4 16 5
4 16 5 25
5 5 25 4
6 25 4 22
7 4 22 3
8 22 3 3
9 3 3 5
10 3 5 3
11 5 3 9
12 3 9 81
	FOUND!
13 9 81 11

In [ ]:
texts = ['zero', 'one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine']
i = 0
max = len(texts)-1
while i< max:
    print(i, texts[i],texts[i+1])
    if len(texts[i]) == len(texts[i+1]):
        print("\tFOUND!")
    i+=1

0 zero one
1 one two
	FOUND!
2 two three
3 three four
4 four five
	FOUND!
5 five six
6 six seven
7 seven eight
	FOUND!
8 eight nine

Pętla for

In [ ]:
ludzie = ['tetlak', 'mysza', 'mucha', 'wirus', 'glizda', 'osa']

domena = 'aviva.pl'

for czlowiek in ludzie:
  email = czlowiek + '@' + domena
  print('Email for\t', czlowiek, '\tis\t', email)
else: 
  print('---end---')

Email for	 tetlak 	is	 tetlak@aviva.pl
Email for	 mysza 	is	 mysza@aviva.pl
Email for	 mucha 	is	 mucha@aviva.pl
Email for	 wirus 	is	 wirus@aviva.pl
Email for	 glizda 	is	 glizda@aviva.pl
Email for	 osa 	is	 osa@aviva.pl
---end---

In [ ]:
data = ['Error:File cannot be open',
        'Error:No free space on disk',
        'Error:File missing',
        'Warning:Internet connection lost',
        'Error:Access denied']

for s in data:
    print(s.upper())

ERROR:FILE CANNOT BE OPEN
ERROR:NO FREE SPACE ON DISK
ERROR:FILE MISSING
WARNING:INTERNET CONNECTION LOST
ERROR:ACCESS DENIED

In [ ]:
for s in data:
 
    elements = s.split(':')
    print(elements[0].upper())
    print(elements[1])

ERROR
File cannot be open
ERROR
No free space on disk
ERROR
File missing
WARNING
Internet connection lost
ERROR
Access denied

In [ ]:
for s in data:
 
    elements = s.split(':')
    if elements[0] == 'Error':
        print(elements[1].upper())
    else:
        print(elements[1])

FILE CANNOT BE OPEN
NO FREE SPACE ON DISK
FILE MISSING
Internet connection lost
ACCESS DENIED

Pętla for - range (wykonywana okreśolną ilość razy)

In [ ]:
for number in range(1,5):
  print(number)

1
2
3
4

In [ ]:
for number in range(1,10,2):
  print(number)

1
3
5
7
9

In [ ]:
for number in range(1,11):
  if number %2 == 0:
    print('Liczba %2d jest %s' % (number,'parzysta'))
  else:
    print('Liczba %2d jest %s' % (number,'nieparzysta'))
  print(number)

Liczba  1 jest nieparzysta
1
Liczba  2 jest parzysta
2
Liczba  3 jest nieparzysta
3
Liczba  4 jest parzysta
4
Liczba  5 jest nieparzysta
5
Liczba  6 jest parzysta
6
Liczba  7 jest nieparzysta
7
Liczba  8 jest parzysta
8
Liczba  9 jest nieparzysta
9
Liczba 10 jest parzysta
10

In [ ]:
string_A = '+---+---+---+---+'
string_B = '|   |   |   |   |'

for i in range(10):
    print(string_A)

+---+---+---+---+
+---+---+---+---+
+---+---+---+---+
+---+---+---+---+
+---+---+---+---+
+---+---+---+---+
+---+---+---+---+
+---+---+---+---+
+---+---+---+---+
+---+---+---+---+

In [ ]:
for i in range(9):
    if i % 2 == 0:
        print(string_A)
    else:
        print(string_B)

+---+---+---+---+
|   |   |   |   |
+---+---+---+---+
|   |   |   |   |
+---+---+---+---+
|   |   |   |   |
+---+---+---+---+
|   |   |   |   |
+---+---+---+---+

In [ ]:
for i in range(1,10):
  print('x'*i)

x
xx
xxx
xxxx
xxxxx
xxxxxx
xxxxxxx
xxxxxxxx
xxxxxxxxx

In [ ]:
for i in range(1,10):
    if i % 2 == 0:
        print("x"*i)
    else:
        print("o"*i)

o
xx
ooo
xxxx
ooooo
xxxxxx
ooooooo
xxxxxxxx
ooooooooo

Zagnieżdżona pętla for (tabliczka mnożenia)

In [ ]:
for x in range(1,6):
  for y in range(1,6):
    print(x, 'x', y, '=',x*y)

1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25

In [ ]:
for x in range(1,6):
  line = str(x)
  for y in range(1,6):
    line += ('\t%3d' % (x*y))
  print(line)

1	  1	  2	  3	  4	  5
2	  2	  4	  6	  8	 10
3	  3	  6	  9	 12	 15
4	  4	  8	 12	 16	 20
5	  5	 10	 15	 20	 25

In [ ]:
list_noun = ['dog', 'potato', 'meal', 'icecream', 'car']
list_adj = ['dirty', 'big', 'hot', 'colorful', 'fast']
 
for noun in list_noun:
    for adj in list_adj:
        print(adj, noun)

dirty dog
big dog
hot dog
colorful dog
fast dog
dirty potato
big potato
hot potato
colorful potato
fast potato
dirty meal
big meal
hot meal
colorful meal
fast meal
dirty icecream
big icecream
hot icecream
colorful icecream
fast icecream
dirty car
big car
hot car
colorful car
fast car

Instrukcja break (przerwanie pętli)

In [ ]:
for a in range(2,31):
  for b in range(2,a):
    if a % b == 0:
      print('%2d nie jest liczbą pierwszą - dzielnikiem jest %2d' % (a,b)) 
      break

 4 nie jest liczbą pierwszą - dzielnikiem jest  2
 6 nie jest liczbą pierwszą - dzielnikiem jest  2
 8 nie jest liczbą pierwszą - dzielnikiem jest  2
 9 nie jest liczbą pierwszą - dzielnikiem jest  3
10 nie jest liczbą pierwszą - dzielnikiem jest  2
12 nie jest liczbą pierwszą - dzielnikiem jest  2
14 nie jest liczbą pierwszą - dzielnikiem jest  2
15 nie jest liczbą pierwszą - dzielnikiem jest  3
16 nie jest liczbą pierwszą - dzielnikiem jest  2
18 nie jest liczbą pierwszą - dzielnikiem jest  2
20 nie jest liczbą pierwszą - dzielnikiem jest  2
21 nie jest liczbą pierwszą - dzielnikiem jest  3
22 nie jest liczbą pierwszą - dzielnikiem jest  2
24 nie jest liczbą pierwszą - dzielnikiem jest  2
25 nie jest liczbą pierwszą - dzielnikiem jest  5
26 nie jest liczbą pierwszą - dzielnikiem jest  2
27 nie jest liczbą pierwszą - dzielnikiem jest  3
28 nie jest liczbą pierwszą - dzielnikiem jest  2
30 nie jest liczbą pierwszą - dzielnikiem jest  2

In [ ]:
for a in range(2,31):

  liczbaPierwsza = True

  for b in range(2,a):
    if a % b == 0:
      liczbaPierwsza = False
      print('%2d nie jest liczbą pierwszą - dzielnikiem jest %2d' % (a,b)) 
      break

  if liczbaPierwsza:
    print('%2d is prime!' % (a))

 2 is prime!
 3 is prime!
 4 nie jest liczbą pierwszą - dzielnikiem jest  2
 5 is prime!
 6 nie jest liczbą pierwszą - dzielnikiem jest  2
 7 is prime!
 8 nie jest liczbą pierwszą - dzielnikiem jest  2
 9 nie jest liczbą pierwszą - dzielnikiem jest  3
10 nie jest liczbą pierwszą - dzielnikiem jest  2
11 is prime!
12 nie jest liczbą pierwszą - dzielnikiem jest  2
13 is prime!
14 nie jest liczbą pierwszą - dzielnikiem jest  2
15 nie jest liczbą pierwszą - dzielnikiem jest  3
16 nie jest liczbą pierwszą - dzielnikiem jest  2
17 is prime!
18 nie jest liczbą pierwszą - dzielnikiem jest  2
19 is prime!
20 nie jest liczbą pierwszą - dzielnikiem jest  2
21 nie jest liczbą pierwszą - dzielnikiem jest  3
22 nie jest liczbą pierwszą - dzielnikiem jest  2
23 is prime!
24 nie jest liczbą pierwszą - dzielnikiem jest  2
25 nie jest liczbą pierwszą - dzielnikiem jest  5
26 nie jest liczbą pierwszą - dzielnikiem jest  2
27 nie jest liczbą pierwszą - dzielnikiem jest  3
28 nie jest liczbą pierwszą - dzielnikiem jest  2
29 is prime!
30 nie jest liczbą pierwszą - dzielnikiem jest  2

In [ ]:
for a in range(2,31):

  for b in range(2,a):
    if a % b == 0:
      print('%2d nie jest liczbą pierwszą - dzielnikiem jest %2d' % (a,b)) 
      break

  else:
    print('%2d is prime!' % (a))

 2 is prime!
 3 is prime!
 4 nie jest liczbą pierwszą - dzielnikiem jest  2
 5 is prime!
 6 nie jest liczbą pierwszą - dzielnikiem jest  2
 7 is prime!
 8 nie jest liczbą pierwszą - dzielnikiem jest  2
 9 nie jest liczbą pierwszą - dzielnikiem jest  3
10 nie jest liczbą pierwszą - dzielnikiem jest  2
11 is prime!
12 nie jest liczbą pierwszą - dzielnikiem jest  2
13 is prime!
14 nie jest liczbą pierwszą - dzielnikiem jest  2
15 nie jest liczbą pierwszą - dzielnikiem jest  3
16 nie jest liczbą pierwszą - dzielnikiem jest  2
17 is prime!
18 nie jest liczbą pierwszą - dzielnikiem jest  2
19 is prime!
20 nie jest liczbą pierwszą - dzielnikiem jest  2
21 nie jest liczbą pierwszą - dzielnikiem jest  3
22 nie jest liczbą pierwszą - dzielnikiem jest  2
23 is prime!
24 nie jest liczbą pierwszą - dzielnikiem jest  2
25 nie jest liczbą pierwszą - dzielnikiem jest  5
26 nie jest liczbą pierwszą - dzielnikiem jest  2
27 nie jest liczbą pierwszą - dzielnikiem jest  3
28 nie jest liczbą pierwszą - dzielnikiem jest  2
29 is prime!
30 nie jest liczbą pierwszą - dzielnikiem jest  2

In [ ]:
text = 'Mechanical advantage is a measure of the force amplification achieved by using a tool, mechanical device or machine system. The device preserves the input power and simply trades off forces against movement to obtain a desired amplification in the output force. The model for this is the law of the lever. Machine components designed to manage forces and movement in this way are called mechanisms.[1] An ideal mechanism transmits power without adding to or subtracting from it. This means the ideal mechanism does not include a power source, is frictionless, and is constructed from rigid bodies that do not deflect or wear. The performance of a real system relative to this ideal.'
short_text = ''
 
words = text.split(' ')
counter = 0
 
for word in words:
    
    short_text += word+' '
    counter += 1
 
    if counter>=20:
        print(short_text)
        break

Mechanical advantage is a measure of the force amplification achieved by using a tool, mechanical device or machine system. The

In [ ]:
definitions = [
    'Mechanical advantage is a measure of the force amplification achieved by using a tool, mechanical device or machine system. The device preserves the input power and simply trades off forces against movement to obtain a desired amplification in the output force. The model for this is the law of the lever. Machine components designed to manage forces and movement in this way are called mechanisms.[1] An ideal mechanism transmits power without adding to or subtracting from it. This means the ideal mechanism does not include a power source, is frictionless, and is constructed from rigid bodies that do not deflect or wear. The performance of a real system relative to this ideal.',
    'Ein Kraftwandler ist eine mechanische Anordnung zur Veränderung einer Kraft in Bezug auf ihren Angriffspunkt, ihre Richtung oder ihren Betrag. Die einfachsten Kraftwandler sind Seile, Stangen, Rollen, schiefe Ebenen und Hebel. Dies sind gleichzeitig die grundlegenden einfachen Maschinen.',
    'La ventaja mecánica es una magnitud adimensional que indica cuánto se amplifica la fuerza aplicada usando un mecanismo (ya sea una máquina simple, una herramienta o un dispositivo mecánico más complejo) para contrarrestar una carga de resistencia.',
    'Cette notion s\'applique de manière évidente dans les systèmes de poulies et de leviers. Elle est centrale dans les systèmes de freinage : on applique une petite force sur un parcours important et l\'on obtient une force importante transmise au système de freinage pour une course de faible distance.'  
    ]
 
for definition in definitions:
 
    words = definition.split(' ')
    short_text = ''
    counter = 0
 
    for word in words:
 
        short_text += word+' '
        counter += 1
 
        if counter>=20:
            print(short_text)
            break

Mechanical advantage is a measure of the force amplification achieved by using a tool, mechanical device or machine system. The
Ein Kraftwandler ist eine mechanische Anordnung zur Veränderung einer Kraft in Bezug auf ihren Angriffspunkt, ihre Richtung oder ihren Betrag.
La ventaja mecánica es una magnitud adimensional que indica cuánto se amplifica la fuerza aplicada usando un mecanismo (ya sea
Cette notion s'applique de manière évidente dans les systèmes de poulies et de leviers. Elle est centrale dans les systèmes

Instrukcja continue:

In [ ]:
ludzie = ['tetlak@firma.pl', 'mysza', 'mucha', 'wirus@box.com', 'glizda', 'osa']

domena = 'aviva.pl'
emails = []

for czlowiek in ludzie:
  if '@' in czlowiek:
    emails.append(czlowiek)

  else:
    email = czlowiek+'@'+domena
    emails.append(email)

for email in emails:
  print(email)

tetlak@firma.pl
mysza@aviva.pl
mucha@aviva.pl
wirus@box.com
glizda@aviva.pl
osa@aviva.pl

In [ ]:
ludzie = ['tetlak@firma.pl', 'mysza', 'mucha', 'wirus@box.com', 'glizda', 'osa']

domena = 'aviva.pl'
emails = []

for czlowiek in ludzie:
  if '@' in czlowiek:
    emails.append(czlowiek)
    continue

  email = czlowiek+'@'+domena
  emails.append(email)

for email in emails:
  print(email)

tetlak@firma.pl
mysza@aviva.pl
mucha@aviva.pl
wirus@box.com
glizda@aviva.pl
osa@aviva.pl

In [ ]:
initialCapital = 20000
percent = 0.03
maxTimeYears = 10
year=0
capital=initialCapital
while year<maxTimeYears:
    year+=1
    capital=round((1+percent)*capital,2)
    print('after this year:', year,  'you will have:',capital)
else:
    print('the total revenue is', capital-initialCapital)

after this year: 1 you will have: 20600.0
after this year: 2 you will have: 21218.0
after this year: 3 you will have: 21854.54
after this year: 4 you will have: 22510.18
after this year: 5 you will have: 23185.49
after this year: 6 you will have: 23881.05
after this year: 7 you will have: 24597.48
after this year: 8 you will have: 25335.4
after this year: 9 you will have: 26095.46
after this year: 10 you will have: 26878.32
the total revenue is 6878.32

In [ ]:
number=20730906
tmpnumber = number
sumOfDigits = 0
while tmpnumber >0:
    digit = tmpnumber % 10
    sumOfDigits += digit
    tmpnumber = tmpnumber//10
else:
    print('the sum of digits of ', number, ' is',sumOfDigits)

the sum of digits of  20730906  is 27

In [ ]:
fibonacciIterations = 20
a1 = 0
a2 = 1
a3 = 0
for i in range(0,20):
    print('Step',i,'value',a3)
    a1=a2
    a2=a3
    a3=a1+a2

Step 0 value 0
Step 1 value 1
Step 2 value 1
Step 3 value 2
Step 4 value 3
Step 5 value 5
Step 6 value 8
Step 7 value 13
Step 8 value 21
Step 9 value 34
Step 10 value 55
Step 11 value 89
Step 12 value 144
Step 13 value 233
Step 14 value 377
Step 15 value 610
Step 16 value 987
Step 17 value 1597
Step 18 value 2584
Step 19 value 4181

In [ ]:
dictionary={'A':'80%-10%','B':'60%-80%','C':'50-60%','D':'less then 50%'}
for word in dictionary.keys():
    print(word,'-',dictionary[word])

A - 80%-10%
B - 60%-80%
C - 50-60%
D - less then 50%